<nav class="navbar navbar-expand-md custom-navbar">
	<div class="navbar-show">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item"><a class="nav-link active">Location</a>
			</li>
			<li class="nav-item"><a class="nav-link active">Master Plan</a></li>
			<li class="nav-item" ><a href="" class="nav-link">Tower</a></li>
			<li class="nav-item" ><a href="" class="nav-link">Floor</a></li>
            <li class="nav-item" ><a href="" class="nav-link">Unit</a></li>
            <li class="nav-item" ><span class="nav-link">Booking</span></li>
		</ul>
	</div>
</nav>