<nav class="navbar navbar-expand-md custom-navbar">
    <div class="navbar-show">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a href="" class="nav-link">Location</a>
        </li>
        <li class="nav-item">
          <a href="" class="nav-link">Master Plan</a>
        </li>
        <li class="nav-item">
          <a href="" class="nav-link">Bird eye</a>
        </li>
        <li class="nav-item">
          <a href="" class="nav-link">Tower</a>
        </li>
        <li class="nav-item">
          <a href="" class="nav-link">Block</a>
        </li>
        <li class="nav-item">
          <a href="" class="nav-link">Floor</a>
        </li>
        <li class="nav-item">
          <a href="" class="nav-link">Section</a>
        </li>
        <li class="nav-item">
          <a href="" class="nav-link">Unit</a>
        </li>
        <li class="nav-item">
          <a href="" class="nav-link">Plot</a>
        </li>
        <li class="nav-item">
          <span class="nav-link">Booking</span>
        </li>
        <li class="nav-item">
          <span class="nav-link">Book</span>
        </li>
      </ul>
    </div>
</nav>
  