.page-layout {
    width: 100%;
    margin: 0 auto;
    position: absolute;
    height: auto;
    top: 0px;
}
.page-header{
    height:30px;
    width:calc(100% - 30px);
    padding-left: 90px;
    padding-right: 90px;
    float:left;
    visibility: hidden;
}
.visibleTop {
    height: 55px;
    visibility: visible;
}
.page-content {
    width:100%;
    float:left;
    padding:0px;
}

.page-no-top-header {
    height: calc(100vh - 60px);
}
.page-top-header {
    height: calc(100vh - 89px);
}
.sidebar {
    width: 90px;
    float: left;
    margin-top: -30px;
    height: 100%;
}
.page-no-top-header .sidebar {
    margin-top: 8px
}

.page-no-top-header .sidebar-right {
    margin-top: -20px;
}
.sidebar-right {
    float: right;
}
.page-middle-section {
    width: calc( 100vw - 180px);
    float: left;
    height: 100%;
    
    overflow: hidden;
}
.page-footer {
    height: 30px;
    width: 100%;
    float: left;
}



.overlay-animate-top {
    position: absolute;
    text-align: center;
    max-width: 200px;
    min-width: 180px;
    left: 40%;
    right: 50%;
    top: 65px;
    background-color: #f37a21;
    color: #fff;
    border: 1px solid #fff;
    /* animation: shake-animation 4.72s ease infinite; */
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
}
.animate-top-text {
    width: calc(100% - 36px);
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    color: white;
}

.arrows {
    position: relative;
    position: absolute;
    top: 18%;
    left: 47%;
    width: 30px;
    height: 30px;
    transform: translate(-50%, -50%);
  }
.arrows:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    border-left: 10px solid rgba(0, 0, 0, 0.7);
    border-bottom: 10px solid rgba(0, 0, 0, 0.7);
    transform: translate(10px, 40px) rotate(-45deg);
    animation: arrows 3s linear infinite;
  }
.arrows:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    border-left: 10px solid rgba(0, 0, 0, 0.7);
    border-bottom: 10px solid rgba(0, 0, 0, 0.7);
    transform: translate(20px, 0px) rotate(-45deg);
    animation: arrows 3s linear infinite -1.5s;
}
  
@keyframes arrows {
    0% {
      border-left: 10px solid rgba(0, 0, 0, 0);
      border-bottom: 10px solid rgba(0, 0, 0, 0);
      transform: translate(-5px, -20px) rotate(-45deg);
    }
    10%, 90% {
      border-left: 10px solid rgba(0, 0, 0, 0);
      border-bottom: 10px solid rgba(0, 0, 0, 0);
    }
    50% {
      border-left: 10px solid rgba(0, 0, 0);
      border-bottom: 10px solid rgba(0, 0, 0);
      transform: translate(-5px, 0px) rotate(-45deg);
    }
    100% {
      border-left: 10px solid rgba(0, 0, 0, 0);
      border-bottom: 10px solid rgba(0, 0, 0, 0);
      transform: translate(-5px, 20px) rotate(-45deg);
    }
}
  

@media screen  and (max-width: 767px) {
    .sidebar {
        width: 60px;
    }
    .page-middle-section {
        width: calc( 100vw - 120px);
    }
    .visibleTop {
        height: 35px;
        visibility: visible;
    }
    .page-top-header {
        height: calc(100vh - 65px);
    }
    .page-header {
        padding-left: 40px;
        padding-right: 0px;
    }
    .overlay-animate-top {
        left: 35%;
        top: 70px;
    }
}


@media screen and (min-width: 769px) and (max-width:990px) {
    .overlay-animate-top {
        top: 88px;
    }
}
@media screen and (max-width: 992px) {
    .overlay-animate-top {
        top: 95px;
    }
}