.col-sm-3 {
    width: 33%;
    display: inline-block;
    flex: 0 0 33%;
    max-width: 33%;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
}
.col-sm-6 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    width: 66%;
    display: inline-block;
    flex: 0 0 66%;
    max-width: 66%;
}

.error {
    color: red; 
    font-size: 12px; 
    font-style: italic; 
    float: right;
    position: absolute;
    right: 0px;
    padding: 10px;
}
.mobile-code {
    padding-left: 0px;
}
.mobile {
    width: 66%;
    flex: 0 0 66%;
    display: inline-block;
    max-width: 100% !important;
    padding-right: 0px;
}


.btn-primary, .btn-primary:active, .btn-primary:focus {
    background-color: #ff6600 !important;
    border-color: transparent !important;
    width: 100%;
}
.curptr {
    cursor: pointer;
}

.terms{
    padding-left :25px;
}
.custom-control-input:checked~.custom-control-label::before {
    background-color: #ff6600;
}