.full-screen-icon-container {
    color: #fff;
    font-size: 20px;
}

.full-screen-icon-container .fa {
    cursor: pointer;
}

.sidebar-bottom-icon {
    position: absolute;
    bottom: 30px;
    right: 10px;
    width: 70px;
}
.sidebar-bottom-icon img {
    width: 100%;
    height: 100%;
}

.slider-icon {
    color: #ffffff;
    width: 50px;
    height: 50px;
    background: #ff5600;
    text-align: center;
    line-height: 52px;
    cursor: pointer;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    display: inline-block;
    font-size: 31px;
}
.rotate-90deg {
    -moz-transform: rotate(-90deg);
    transform: rotate(-90deg);
}
.sidebar-top-icon {
    position: relative;
    top: 35px;
    left: 0;
    right: 0;
}
.sidebar-top-icon .page-title {
    position: static;
    text-align: left;
}
.page-title {
    color: #fff;
    margin: 0;
    text-align: left;
    position: absolute;
    left: 50%;
    right: 50%;
    bottom: 50px;
}
.text-uppercase {
    text-transform: uppercase !important;
}






@media (min-width: 567px) {
    .sidebar-bottom-icon {
        bottom: 10px;
    }
    .sidebar-bottom-icon img {
        width: 35px;
    }
    .slider-icon {
        width: 35px;
        height: 35px;
        line-height: 33px;
        font-size: 25px;
        margin-left: 10px;
    }
    .full-screen-icon-container {
        margin-left: 20px;
    }
    .page-title {
        font-size: 15px;
    }
    
}

@media screen and (max-width: 767px) {
    .sidebar-bottom-icon {
        width: 60px;
        right: 0px;
    }
    .sidebar-bottom-icon img {
        margin-left: 13px;
    }
    .slider-icon {
        background: 0 0;
    }
}

@media screen and (min-width:768px) and (max-width: 1199px) {
    .sidebar-bottom-icon {
        width: 90px;
        right: 0px
    }
    .sidebar-bottom-icon img {
        width: 45px;
        margin-left: 23px;
    }
    .slider-icon {
        margin-left: 25px;
    }
    
    .full-screen-icon-container {
        margin-left: 35px;
    }
}

@media screen and (min-width: 992px) {
   .sidebar-top-icon {
        left: -10px;
    }
}

@media (min-width: 1200px) {
    .sidebar-bottom-icon {
        bottom: 30px;
        width: 90px;
        right: 0px;
    }
    .sidebar-right .sidebar-bottom-icon {
        width: 100%;
        bottom: 32px;
        margin: 0 auto;
    }
    .sidebar-bottom-icon img {
        width: 90px;
        margin: 0 auto;
        padding-left: 10px;
        padding-right: 10px;
        margin-top: 15px;
    }
    .slider-icon {
        width: 45px;
        height: 45px;
        font-size: 31px;
        line-height: 43px;
        margin-left: 20px;
    }
    
    .full-screen-icon-container {
        margin-left: 35px;
    }

    .sidebar-top-icon {
        right: 10px !important;
        left: -10px !important;
    }
    .page-title {
        font-size: 20px;
    }
}
